.left-blocks {
    width: 70vw;
    margin: auto;
}

.award-rec {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.popular {
    margin: auto;
}