.profile-button {
    text-align: right;
    font-size: 1.1vw;
    background-color: rgb(89, 76, 96);
    padding: 10px 30px;
    border-radius: 30px;
    border: none;
    box-shadow: 5px 5px 10px #928465;
    height: 2.5vw;
}

.profile-button a:link {
    color: rgb(226, 219, 205);
}
.profile-button a:visited {
    color: rgb(226, 219, 205);
}
.profile-button a:hover {
    color: rgb(226, 219, 205);
}
.profile-button a:active {
    color: hsl(40, 27%, 85%) 27%, 85%;
}

.profile-pic {
    width: 3vw;
    height: 3vw;
    background-color: #594c60;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 5px 5px 10px #928465;
  }

  .profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }